.venv
.env
venv
.pytest_cache

*.zip
*.csv
*.sqlite3

# python
__pycache__/
*.pyc

# folders
data/archiv/
data/chromadb/
data/_qdrant/
data/qdrant/storage
data/embeddings/
data/*.csv
data/*.json
tests/*

# IDE
.idea/
.vscode/

# macOS
.DS_Store
/db/postgres-data/

